/*html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
*/
.container {
	margin: 100px auto;
}

h6 {
	font-weight: bold;
}

.btn, .btn-large, .btn-flat {
	text-transform: none;
	color: grey;
}

.modal {
	background-color: white;
}

#start {
	margin: 10px auto;
}

#date {
	margin: 30px auto;
}

#data {
	margin: 30px auto;
}

#filter {
	margin: 10px auto 20px auto;
}

.half {
	display: inline-block;
	margin: 0 auto;
	width: 50%;
}

#next {
	border-radius: 25px;
	width: 150px;
}

#target {
	margin: 30px auto 20px auto;
	width: 50%;
} 

input{
	text-align: center;
}

input[type=text]:not(.browser-default) {
	margin: 0;
}

#quick {
	font-size: 20px;
	margin: 0 10px;
}